# Python
__pycache__/
*.py[cod]
*$py.class
.venv/

# YOLOv8
runs/

# macOS
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# Temporary files
*.tmp

# Large files (adjust as needed)
*.weights
*.pt
*.onnx
*.engine